<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
      <display-name>Archetype Created Web Application</display-name>  
  
  <filter> 
  	<filter-name>corsFilter</filter-name>
	<filter-class>com.sqrfactor.filter.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>corsFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping> 
  
   <filter> 
  	<filter-name>jwtFilter</filter-name>
	<filter-class>com.sqrfactor.filter.JWTFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>jwtFilter</filter-name>
	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
 <servlet>  
  	<servlet-name>springrest</servlet-name>  
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet  
  	</servlet-class>  
  	<load-on-startup>1</load-on-startup>  
  </servlet>  
  <servlet-mapping>  
  	<servlet-name>springrest</servlet-name>  
  	<url-pattern>/*</url-pattern>  
  </servlet-mapping>
  <!-- 
  <security-constraint>
        <web-resource-collection>
            <web-resource-name>SSLSecured</web-resource-name>
            <url-pattern>/login/authenticate</url-pattern>
			<url-pattern>/user/verify</url-pattern>
			<url-pattern>/user/signup</url-pattern>
			<url-pattern>/user/register</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->
</web-app>